@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities {
	.pale-blue {
		color: theme('colors.pale-blue');
	}
	.bright-blue {
		color: theme('colors.bright-blue');
	}
	.very-pale-blue {
		color: theme('colors.very-pale-blue');
	}
	.desaturated-blue {
		color: theme('colors.desaturated-blue');
	}
	.dark-blue {
		color: theme('colors.dark-blue');
	}
}

.card {
	@apply bg-white w-full rounded-3xl overflow-hidden shadow-lg;
}
.card-body {
	@apply px-4 py-8;
}
.card-title {
	@apply mt-0 mb-5 font-black text-3xl text-center text-dark-blue;
}
.card-text {
	@apply block mt-0 mb-5 text-center text-desaturated-blue;
}
.btn {
	@apply block py-4 rounded-md cursor-pointer text-center font-bold text-desaturated-blue;
}
.btn-primary {
	@apply bg-bright-blue text-white hover:opacity-80;
}
